<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
        <add key="sqlsvr" value="Data Source=(local);Initial Catalog=Kanata;Connect Timeout=60;Persist Security Info=True;User ID=sa;Password=Password123" />
    </appSettings>
</configuration>